<html>
<head>
</head>
<body>
    <h1>HOME PAGE</h1>
    <h2>Spectacular Mountain</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/EverestfromKalarPatarcrop.JPG" alt="Mountain View" style="width:304px;height:228px;">
    <%= link_to 'About', about_path %>
    
</body>
</html>